In [5]:
import numpy as np

In [6]:
# Create a numpy array with values [1,2,3,4]
arr = np.array([1,2,3,4])
# Display the array
arr

array([1, 2, 3, 4])

In [7]:
#array matrix
# Create a 2D numpy array (matrix) with values [[1,2],[3,4]]
matrix = np.array([[1,2],[3,4]])
# Display the matrix
matrix

array([[1, 2],
       [3, 4]])

In [ ]:
# Create a numpy array with values from 0 to 9 with a step of 2
arr = np.arange(0, 10, 2)
arr

array([0, 2, 4, 6, 8])

In [19]:
#generate zeros
# arr1 = np.zeros(5)    - for 5 zeros
# arr1      
arr2 = np.ones((2,3))    #for matrix of 2 rows and 3 columns filled with ones
arr2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [22]:
#linspace used to generate evenly spaced numbers over a specified interval
arr = np.linspace(0, 1, 10)    #for 5 values between 0 and 1
arr

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

In [23]:
#random numbers
# Generate a 1D array of 5 random numbers between 0 and 1
arr = np.random.random(5)
arr

array([0.08490573, 0.91583239, 0.20891986, 0.37167551, 0.51135237])

In [ ]:
#random numbers
#randn generates samples from the standard normal distribution (mean=0, std=1)
arr = np.random.randn(5) 
arr

array([ 0.00972895, -0.28580438,  0.30179389, -0.46380762,  1.8219629 ])

Array Attributes

In [31]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])    #this will give error because the array should be 2D
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [32]:
arr.shape    #to check the shape of the array

(3, 4)

In [33]:
arr.size     #to check the size of the array

12

In [34]:
arr.dtype

dtype('int64')

In [35]:
arr.strides    #to check the strides of the array

(32, 8)

In [36]:
arr.T   #to transpose the array

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [37]:
arr.real  #to check the real part of the array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [38]:
arr.data    #to check the memory location of the array

Array Methods

In [39]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [40]:
arr.min()   #to find the minimum value in the array

np.int64(1)

In [41]:
arr.max()   #to find the maximum value in the array

np.int64(9)

In [42]:
arr.sum()   #to find the sum of all the values in the array

np.int64(45)

In [43]:
arr.std()   #to find the standard deviation of the array

np.float64(2.581988897471611)

In [44]:
arr.argmax()   #to find the index of the maximum value in the array

np.int64(8)

In [46]:
arr.reshape(9,1)   #to reshape the array to 1 row and 9 columns

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])